/* CLASSES DE CORES E ALTERAÇÕES */
.vermelho {
    color: #CC0D1F;
}
.azul-claro {
    color: #80BDB8;
}
.azul {
    color: #28A3AA;
}
.laranja {
    color: #F36324;
}
.preto {
    color: #000;
}
.amarelo {
    color: gold;
}
.rosa {
    color: deeppink;
}
.cinza {
    color: darkgrey; 
}
.bege {
    color: #f5f5dc;
}

/* BACKGROUNDS */
.bg-vermelho {
    background-color: #CC0D1F;
}
.bg-azul-claro {
    background-color: #80BDB8;
}
.bg-azul {
    background-color: #28A3AA;
}
.bg-laranja {
    background-color: #F36324;
}
.bg-preto {
    background-color: #000;
}
.bg-amarelo {
    background: gold;
}
.bg-rosa {
    background-color: deeppink;
}
.bg-cinza {
    background-color: darkgrey; 
}
.bg-bege {
    background-color: #f5f5dc;
}


/* BTN */
.btn-vermelho {
    color:#fff;
    color:  #CC0D1F;
    border-color:  #CC0D1F;
}
.btn-vermelho:hover{
    color:#fff;
    background-color:#CC0D1F;
    border-color:#CC0D1F
}
.btn-azul {
    color: #fff;
    background-color: #28A3AA;
    border-color: #28A3AA;
}
.btn-azul:hover {
    color: #fff;
    background-color: #80BDB8;
    border-color: #80BDB8;
}

/* ALTERAÇÕES TAGS */
li {
    text-decoration: none;
}
a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color:#CC0D1F;
    text-decoration: none;
    background-color: transparent;
}

/* ALTERAÇÕES CLASSES */
.nav-link {
    color: #fff;
    font-weight: bolder;
}
header .nav-link {
    color: #fff !important;
}
.nav-link:hover {
    color: #000000 !important;
    background-color: rgba(255,255,255, 0.7) !important;
}
.card-text {
    font-weight: bold;
}
.card {
    border: 0 !important;
    
}

#conteudo .nav-link {
    color: #000 !important;
}
 .filtrocores ul {
    list-style-type: none;
    padding: 0;
 }

/* Responsivo breakpoints*/

.card-img-top {
    max-width: 170px !important;
    max-height: 170px !important;
}

.grid-maior {
    max-width: 10rem !important; 
}

.grid-menor {
    width: 14rem !important;
}

@media (max-width: 320px) { 
    .grid-maior {
        max-width: 8rem !important;
    }
    .grid-menor {
        width: 9rem !important;
    }
    
 }
 @media (max-width: 400px) { 
    .grid-maior {
        max-width: 8rem !important;
    }
    .grid-menor {
        max-width: 10rem !important;
    }
    .card-img-top {
        max-height: 150px !important;
    }
    
 }
 @media (max-width: 995px) {
    .card-img-top {
        max-height: 140px !important;
    }
    
 } 

 @media (max-width: 995px) and (min-width: 400px) {
    .grid-maior {
        max-width: 8rem !important;
    }
    .grid-menor {
        max-width: 9rem !important;
    }
   
 }



 @media (min-width: 768px) {
    .collapse.dont-collapse-sm {
      display: block;
      height: auto !important;
      visibility: visible;
    }
  }

 